/* @use "bootstrap"; */
@use "./style_components/root" as *;
@use "./style_components/siteHeader" as *;
@use "./style_components/siteMain" as *;
@use "./style_components/siteFooter" as *;
@use "./style_components/utilities" as *;
/* @use "fontawesome"; */

/* #region Common */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans", sans-serif;
}

ul
{
    padding: 0;
}

li {
    list-style: none;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: $light_color;
}

/* #endregion Common */


