$header_color: rgb(241, 121, 7);
$footer_color: black;
$main_color: white;
$danger_color: red;
$sustainability_color: green;
$brand_text_color: grey;
$name_text_color: #333;
$dark_color: black;
$light_color: white;