@use "./root" as *;

/* #region Footer */

#site_footer {
    display: flex;
    background-color: $dark_color;
    color: $light_color;
    justify-content: space-evenly;
    padding: 2rem;
    /* align-items: center; */
}

.footer_2 {
    /* padding-right: 10rem; */
    h4 
    {
        padding-bottom: 1rem;
    }

    i 
    {
        padding-right: 10px;
    }
}

/* #endregion Footer */