@use "./root" as *;
/* #region Header */

#site_header {
    background-color: $header_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 9999;
}

.list {
    display: flex;
}

.logo>img {
    width: 100px;
}


.cart
{
    i 
    {
        padding-left: 10px;
    }
}


/* #endregion Header */