@use "./root" as *;

/* #region Footer */

#site_footer {
    display: flex;
    background-color: $dark_color;
    color: $light_color;
    justify-content: space-between;
    padding: 2rem;
    /* align-items: center; */
}

.footer_1 {
    padding-left: 10rem;
}

.footer_2 {
    padding-right: 10rem;
}

/* #endregion Footer */