@use "./root" as *;

/* #region Utilities */

.discount {
    color: $light_color;
    background-color: $danger_color;
    position: absolute;
    top: 80%;
    left: 0;
    padding: 0.5rem 0.5rem;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sustain {
    color: $light_color;
    background-color: $sustainability_color;
    position: absolute;
    top: 80%;
    left: 10%;
    padding: 0.5rem 0.5rem;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sustain_different {
    left: 0;
}

.hearts {
    position: absolute;
    top: 5%;
    left: 90%;
    background-color: $light_color;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    display: none;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.brand {
    color: $brand_text_color;
}

.new_price {
    color: $danger_color;
    padding-right: 1rem;
}

.old_price {
    text-decoration: line-through;
}

/* #endregion Utilities */